.card .title {
    height: 42px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}
.card .header {
    margin: 0;
}
.card .actions {
    display: flex;
    justify-content: space-between;
}

.card .actions .router-link {
    text-decoration: none;
    color: white;
}