 .card {
    
}

.card .title {
    height: 42px;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
}
.card .header {
    margin: 0;
}
.card .actions {
    display: flex;
    justify-content: space-between;
}